.comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #F8F8F9;
    height: 500px;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.profile-picture img:first-child {
    position: relative;
    top: -165px;
    left: -60px;
    width: 50px;
}

.profile-picture img:last-child {
    position: relative;
    top: -70px;
    left: -30px;
    width: 6vw;
}

.comments .text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 65%;
}

.comments .text-section h3 {
    font-size: calc(26px + (26 - 12) * ((100vw - 762px) / (1920 - 762)));
    margin-bottom: 30px;
}

.comments .text-section p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.identity {
    text-align: left;
}

.enterprise-logo img {
    margin-top: 30px;
    width: 70px;
}

@media screen and (max-width: 1023px){
    .profile-picture img:last-child {
        margin-top: 30px;
        width: 84px;
    }
}

@media screen and (max-width: 762px){

    .comments-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        padding: 40px 0 40px 20px;
        width: 95%;
    }

    .comments {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .quote {
        width: 32px;
    }

    .comments-text h3 {
        font-size: calc(27px + (27 - 12) * ((100vw - 762px) / (1920 - 762)));
        margin: 30px 0 10px 0;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .identity {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .identity-pic img {
        width: 16vw;
    }

    .identity-text {
        padding-top: 10px;
        margin-left: 12px;
        font-size: 16px;
    }

    .identity-text p:first-child {
        font-weight: bold;
    }

    .identity-text p:last-of-type {
        margin-top: 5px;
        font-size: 15px;
    }

    .enterprise-logo img {
        margin-top: 10px;
        width: 70px;
    }

}