.navbar {
    position: fixed;
    padding: 0 120px 0 4%;
    width: 100%;
    height: 60px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.navbar-white {
    position: fixed;
    padding: 0 120px 0 4%;
    width: 100%;
    height: 60px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-weight: 500;
    z-index: 999;
    transition: 0.2s ease-in-out;
}

.navbar-logo img{
    width: 160px;
}

.navbar-menu {
    position: absolute;
    left: 280px;
    display: flex;
    justify-content: space-between;
    min-width: 30%;
    list-style-type: none;
}

.navbar-menu li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;

}

.navbar-menu li a:hover {
    text-decoration: underline;
}

.navbar-white li a {
    color:black
}

.navbar-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 12%;
}

.navbar-login a {
    text-decoration: none;
    color: white;
}

.navbar-login a:first-child {
    margin-right: 30px;
}

.navbar-white .navbar-signin {
    color: black;
}

.navbar-login a:first-child:hover {
    text-decoration: underline;
}

.navbar-login a:last-child:hover {
    filter: brightness(0.9);
    transition: 0.2s;
}

.navbar i {
    font-size: 10px;
    margin-left: 4px;
}

.navbar-white i {
    font-size: 10px;
    margin-left: 4px;
}

.navbar-signup {
    background-color: #E81E61;
    padding: 7px 20px;
    border-radius: 999em;
}

/* Burger menu */

.burger-icon {
    position: absolute;
    right: 0px;
    top: 6px;
    z-index: 1;
}

.burger-menu {
    position: absolute;
    padding: 9% 0 0 7%;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
    list-style-type: none;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    border: 1px solid blue;
}

.burger-menu.false {
    transform: translate(100%, 0);
}

.burger-menu > ul {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-menu li a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 18px;
}

.navbar-white .burger-menu i {
    color: black;
}

.back-link {
    color: black;
    z-index: 4;
    position: absolute;
    top: 0;
    font-size: 20px;
}

@media (min-width: 800px) and (max-width: 1599px) {
    .navbar-logo img{
        width: 120px;
    }
}

@media screen and (max-width: 799px){
    .navbar-logo img{
        width: 100px;
    }

    .burger-menu {
        width: 90%;
    }
}
