.presentation-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pres-text {
    width: 48%;
    margin-top: 100px;
    margin-bottom: 40px;
}

.pres-text h2 {
    font-size: 3vw;
}

.pres-image img {
    max-width: 90%;
}


@media screen and (max-width: 799px) {

    .pres-text {
        margin-top: 0px;
        width: 60%;
    } 

    .pres-text h2 {
        font-size: 5vw;
    }
}